.rbc-toolbar button {
    color: white; /* Change the color to white */
}

button.rbc-active {
    color: black;
}

.rbc-toolbar-label {
    font-size: large;
}

.table-container {
    max-height: 500px; /* Set the maximum height */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
    width: 70%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* adjust column count and min-width as needed */
    gap: 5px; /* adjust spacing between cards */
}